<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.maheshuk31.killerrobotapplication">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FeedbackActivity"
            android:label="@string/title_activity_feedback"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AboutUsActivity"
            android:label="@string/title_activity_about_us"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ScienceGalleryActivity"
            android:label="@string/title_activity_science_gallery"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AntennaActivity"
            android:label="@string/title_activity_antenna"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ScannerActivity"
            android:label="@string/title_activity_scanner"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PowerCoreActivity"
            android:label="@string/title_activity_power_core"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LaserActivity"
            android:label="@string/title_activity_laser"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LegActivity"
            android:label="@string/title_activity_leg"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HandActivity"
            android:label="@string/title_activity_hand"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>